.footer ul {
  list-style-type: none;
  margin: 2.4rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  text-transform: uppercase;
}

.footer a {
  padding: 1rem;
}

.footer ul li:last-child {
  margin-left: 1rem;
  font-size: 1.1rem;
}

@media (min-width: 650px) {
  .footer ul {
    font-size: 1.6rem;
  }
  .footer a {
    padding: 0.8rem;
  }
}
