@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-dark: #222222;
    --color-gray: #404040;
    --color-light-gray: #808080;
    --color-light: #ececec;
    --color-action: #c14d2c;
}

.link {
    @apply text-white font-semibold hover:underline;
}

p a {
    @apply text-action;
}
p a:hover {
    @apply underline;
}

.tools button {
    @apply w-full hover:bg-action text-white font-bold px-4 py-2 border uppercase;
}

canvas {
    @apply max-h-full max-w-full;
    filter: drop-shadow(0 0 0.6rem #25252533);
}

.art {
    filter: drop-shadow(0 0 0.5rem #12121222);
}
